.container {
    background-color: white;
    width: 70%;
    margin: 50px auto;
}

header {
    background-color: cornflowerblue;
    height: 80px;
    background-size: 36%;
    background-image: url('../html-css-booleaner/pattern.png');
    background-position: 70px 0;
}

.img-logo {
    height: 90px;
    width: 180px;
    padding-top: 10px;
    margin-left: 10px;
}

.text1 {
    color: deepskyblue;
}

.description{
    color: dimgray;
}

.description2 {
    font-size: 12px;
}

p {
    margin: 30px 0;
}

.ul {
    margin: 0 0 30px;
    padding-left: 16px;
}

.text2 {
    background-color: gold;
}

thead {
    background-color: royalblue;
}

table {
    border-collapse: collapse;
}   

.last-width {
    width: 50%;
}

.tb1, .tb3 {
    background-color: lightskyblue;
}


.img {
    width: 200px;
    height: 160px;
    margin-bottom: 10px;
    background-size: cover;
}

#image-monitor {
    background-image: url(../html-css-booleaner/monitor.jpg);
}

#image-graph {
    background-image: url(../html-css-booleaner/graph.jpg);
}

h3 {
    color: white;
}