.container {
    background-color: white;
    width: 70%;
    margin: 50px auto;
}

header {
    background-color: cornflowerblue;
    background-repeat: repeat;
    height: 80px;
    background-size: 200px 700px;
    background-image: url('../html-css-booleaner/pattern.png');
    
}

.img-logo {
    height: 90px;
    width: 180px;
    padding-top: 10px;
    margin-left: 10px;
}

.text1 {
    color: deepskyblue;
}

.description{
    color: dimgray;
}

.text2 {
    background-color: gold;
}

thead {
    background-color: royalblue;
}

.table, td, th {
    border-collapse: collapse;
}

.tb1, .tb3 {
    background-color: lightskyblue;
}